@import (inline) "reset.css";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

@light-blue: #2288b7;
@grey: #3b3b3b;
html
{
  font-family: 'Source Sans Pro', sans-serif;
  background:url('../images/tile.png');
}

.wrapper
{
  width:995px;
  margin:70px auto 0;
  text-align: center;
  background:rgba(0, 0, 0, 0.07);
  border-radius:5px;
  padding:10px;
  .inner-wrapper
  {
    border-radius:5px;
    padding:30px 20px 20px 20px;
    background:#fff;
    .heading
    {
      border-bottom: 1px solid #e0e0e0;
      padding-bottom:25px;
      h1
      {
        color:@light-blue;
        font-size:60px;
        font-weight: 300;
      }
      h2
      {
        font-size:17px;
        color:@grey;
        margin-top:12px;
      }
    }

    .filters
    {
      margin: 18px auto;
      p
      {
        margin-right:10px;
        display:inline-block;
        &:nth-child(2)
        {
          border-radius:5px;
          background:#e0e0e0;
          padding:5px;
        }
        &:last-of-type
        {
          margin-right: 0;
        }

        input[type=text]
        {
          height:30px;
          border-radius:5px;
          border:1px solid #e0e0e0;
          padding:5px;
          width:370px;
        }

        select
        {
          height:20px;
        }

        button
        {
          height:30px;
          border-radius:5px;
          border-width: 0;
          width:80px;
          cursor: pointer;
          font-size:12px;
          font-weight: bold;
          &:first-child
          {
            color:#494949;
            background: #d8d8d8;
            background: linear-gradient(-180deg, #f2f2f2, #c4c4c4);
            margin-right:10px;
          }
          &:last-child
          {
            color:#fff;
            background: #458cf2;
            background: linear-gradient(-180deg, #6ba1f3, #2077f0);
          }
        }
      }
    }
    .results
    {
      font-size:12px;
      border-radius:5px;
      border:1px solid #d4d4d4;
      overflow: hidden;
      .headings
      {
        background: #d8d8d8;
        background: linear-gradient(-180deg, #f2f2f2, #c4c4c4);
        padding:25px 30px;
        color:#666666;
        p
        {
          display:inline-block;
          font-weight: bold;
          &:first-child
          {
            width:49%;
            text-align: left;
          }
          &:nth-child(2)
          {
            width:20%;
          }
          &:nth-child(3), &:nth-child(4)
          {
            width:15%;
          }
        }
      }
      .row
      {
        padding:0 30px;
        overflow: hidden;
        height: 50px;
        border-bottom:1px solid #e0e0e0;
        color:#555555;
        display:flex;
        justify-content: center;
        align-items: center;
        &:nth-child(odd)
        {
          background: #f7f7f7;
          background: linear-gradient(-180deg, #fefefe, #f6f6f6);
        }
        &:last-child
        {
          border-bottom:none;
        }
        p
        {
          padding:25px 0;
          &:first-child
          {
            width:49%;
            text-align: left;
            border-right:1px solid #e0e0e0;
          }
          &:nth-child(2)
          {
            width:20%;
            border-right:1px solid #e0e0e0;
          }
          &:nth-child(3), &:nth-child(4)
          {
            width:15%;
          }
          &:nth-child(3)
          {
            border-right:1px solid #e0e0e0;
          }
          .rating
          {
            width:27px;
            height:26px;
            background: url('../images/icons.png') 27px 0;
            display: inline-block;
            margin-right:5px;
            &last-child
            {
              margin-right:0;
            }
            &.active
            {
              background-position:0 0;
            }
          }
        }
      }
    }
    .pagination
    {
      margin-top:20px;
      .page
      {
        display:inline-block;
        width:25px;
        height: 25px;
        margin-right:5px;
        border:1px solid #c6c6c6;
        font-size:12px;
        color:#717171;
        padding-top:5px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
        background: #f7f7f7;
        background: linear-gradient(-180deg, #fefefe, #f6f6f6);
        margin-bottom:5px;
        &:last-child
        {
          margin-right:0;
        }
        &.active
        {
          background: radial-gradient(circle, #666666, #585858);
          box-shadow: none;
          color:#fff;
        }
      }
    }
  }
}
.hidden
{
  display:none;
}
